*{
    padding:0px;
    margin: 0px;
}
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 12px auto;
    max-width: 1200px;

}

#list-container {
    color: #505050;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    gap: 50px;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

#list-container .home {
    text-decoration: underline;
    font-weight: 400;
}

/* logo name */
#name {
    font-size: 22px
}

/* banner section */
#banner-container {
    background-image: url('../images/Banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    max-width: 1200px;
    margin: 14px auto;
}

#banner-side-img {
    position: relative;
    left: 750px;
    height: 90%;
}

/* card container */
.card-title {
    text-align: center;
    font-size:48px;
    font-weight:600;
}
/* card style */
.card-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    max-width:1100px;
    margin:40px auto;
    box-sizing: border-box;
}
.card{
    width:100%;
    height:530px;
    border:2px solid rgb(203, 201, 201);
    border-radius:12px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    padding:10px;
    box-sizing:border-box;
}
.inner-card-img{
    width:100% ;
    height:390px;
    margin-bottom:10px;
}
/* card img */
.inner-card-img img{
    width:100% ;
    height:100%;
    border-radius:12px;
    display:block;
}

/* card-name */
.card-name{
    font-size:32px;
    font-weight:500;
    text-align: center;
    margin-top:10px;
}

/* card-btn */
.card-btn{
    padding:8px 16px;
    border-radius:12px;
    border:none;
    margin-top:10px;
    text-align: center;
}